<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="EntityFramework.SqlServerCompact" version="6.2.0" targetFramework="net45" />
  <package id="EntityFramework.zh-Hans" version="6.2.0" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net45" />
  <package id="Oracle.ManagedDataAccess" version="21.9.0" targetFramework="net45" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="18.3.0" targetFramework="net45" />
</packages>